.marginTop {
  margin: 8vh 0 5vh;
}

.category-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  margin: 10px;
  width: 30%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category-card .card {
  flex-grow: 1;
}

#detailed-fp-form.MuiTabs-flexContainer {
  justify-content: space-between;
}

.detailed-modalBackdrop {
  background-color: #9bf7e6;
}

.detailed-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.detailed-modal-footer {
  /* background-color: rgb(235, 235, 235); */
}

.overall-dfp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.dfp-result-image-cont1 {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dfp-result-image1 {
  width: 200px;
  justify-self: flex-end;
}

.dfp-result-image-cont2 {
  width: 200px;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dfp-result-image2 {
  width: 160px;
  justify-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .category-card {
    width: 45%;
  }

  .dfp-result-image1 {
    width: 150px;
  }

  .dfp-result-image-cont2 {
    width: 150px;
  }

  .dfp-result-image2 {
    width: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .category-wrap {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .category-card {
    width: 95%;
  }

  .overall-dfp-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dfp-result-image-cont2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .score-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .q-i-box {
    display: flex;

    align-items: baseline;
  }

  .q-i-box i {
    width: 5%;
  }

  .q-i-box p {
    width: 95%;
  }
}
