.team-container h1{
    margin-top:5rem;
    margin-bottom:3rem;
}
.team-carousel{
    /* background:grey; */
    margin-top:3rem;
    width:80%;
    margin:auto;
}
.member-card{
    background:white;
    width:95%;
    padding:2% 0%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin:auto;
    min-height:20rem;
}
.member-card img{
    height:10rem;
    border-radius: 50%;
    border:2px solid #3ad4af;
    padding:1%;
}
.member-card p{
    margin:0;
    padding:0;
    color:grey;
    margin-bottom:2.5rem;
    margin-top:-2%;
}
.member-title{
    width:100%;
    margin-top:1rem;
}
.member-links{
    position:absolute;
    bottom:0;
    background: rgb(207, 207, 207);
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:0 3rem;
}
.member-links a{
    text-decoration: none;
    color:black;
    min-height:7vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.member-card div i{
    font-size: x-large;
    cursor:pointer;
    padding:3% 4%;
}
.member-card div i:hover{
    background:#3ad4af;
    height:100%;
    align-items: center;
    justify-content: center;
    display:flex;
    padding:2% 50% !important;
}
@media screen and (max-width:754px){
    .member-card{
        width:80%;
    }
}
@media screen and (max-width:554px){
    .member-card{
        width:90%;
    }
}

